/* header */
#logoimg {
    width: 150px;
}
h1 {
    text-align: center;
    font-family: 'Baloo';
}

/* navbar */

nav {
    display: inline-block;
    text-align: center;
    font-family: 'Poppins';
    color: black;
}