/* header */
#logoimg {
    width: 150px;

}

h1 {
    text-align: center;
    font-family: 'Baloo';
}

/* navbar */
nav {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center
}

li {
    float: left;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    width: 12%;
    list-style: none;
    text-align: center;
}

.link {
    color: rgb(49, 0, 128);
    text-decoration: none;
    font-family: 'Poppins';
}

.link:hover {
    color: limegreen;
}

/*Main*/
main{
    font-family: 'Poppins';
    color: black;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

article{
    font-size: 14px;
    float: left;
    width: 70%;
}

#fotoriri {
    width: 500px;
}

aside {
    font-size: 16px;
    float: left;
    width: 25%;
    margin-left: 5%;
}

#imgaside{
    width: 40px;
}

/*Footer*/

footer{
    font-family: 'Poppins';
    color: rgb(49, 0, 128);
    font-size: 14px;
}

a{
    color: black;
}